#upordown
    %h1 How do you feel today?
    #voting_options.clearfix
        .option.button.big.icon.arrowup=   link_to 'Up', url_for(:controller => 'user', :action => 'update', :vote => 'up')
        .option.button.big.icon.arrowdown.danger= link_to 'Down', url_for(:controller => 'user', :action => 'update', :vote => 'down')

-unless @histories.blank?
    #history
        %h2 Your history:
        %ul.clearfix
            -@histories.each do |h|
                = show_status(h)